<% provide(:title, @teacher.name) %>
<h1> hello, this is the show page from teachers asad</h1>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @teacher.name %>
      </h1>
    </section>
  </aside>
</div>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course %>
    </li>
  <% end %>
</ul>