<div class="center hero-unit">
  <h1>Welcome to the Blipcraft</h1>

  <h2>
    This is the home page for the
    BlipCraft
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
